#sidebar.active .sidebar-wrapper {
    left: 0
}

#sidebar:not(.active)~#main {
    margin-left: 0
}

.sidebar-wrapper {
    overflow: scroll;
    width: 260px;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #fff;
    bottom: 0;
    border-right: 1px solid #eee;
    box-shadow: 0 0 10px #ececec;
    left: -260px;
    transition: left .6s ease-out
}

.sidebar-wrapper .sidebar-header {
    padding: 30px;
    position: sticky;
    position: -webkit-sticky;
    top: 0%;
    background-color: #ffffff;
    z-index: 10;
}

.sidebar-wrapper .sidebar-header img {
    width: 100%;
}

.sidebar-wrapper .sidebar-toggler.x {
    position: absolute;
    right: 0;
    top: .5rem;
    display: none
}

.sidebar-wrapper .menu {
    padding-left: 0;

}

.sidebar-wrapper .menu .sidebar-title {
    padding: 1.5rem 1.8rem .5rem;
    font-size: .8rem;
    font-weight: 600;
    color: #888;
    text-transform: uppercase
}

.sidebar-wrapper .menu .sidebar-link {
    display: block;
    padding: .7rem 1.5rem;
    font-size: .85rem;
    display: flex;
    align-items: center;
    transition: all .5s
}

.sidebar-wrapper .menu .sidebar-link:hover span {
    opacity: 1
}

.sidebar-wrapper .menu .sidebar-link>span {
    color: #053382;
    font-weight: 500;
    margin-left: 1rem;
    opacity: .8
}

.sidebar-wrapper .menu .sidebar-item {
    list-style: none;
    margin-top: .5rem;
    position: relative;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
}

.sidebar-wrapper .menu .sidebar-item.has-sub .sidebar-link:after {
    content: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><path stroke="gray" stroke-width="1" d="M6 9l6 6 6-6"/></svg>');
    position: absolute;
    color: #ccc;
    right: 15px;
    top: 12px;
    display: block
}

.sidebar-wrapper .menu .sidebar-item.active .sidebar-link {
    background-color: #e8f3ff;
}

.sidebar-wrapper .menu .sidebar-item.active .sidebar-link:before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(46, 170, 244, .5);
    width: 5px
}

.sidebar-wrapper .menu .submenu {
    list-style: none;
    display: none;
}

.sidebar-wrapper .menu .submenu.active {
    display: block;
}

.sidebar-wrapper .menu .sidebar-sublink {
    padding: .7rem 1.7rem;
    display: block;
    color: #676767;
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: .5px;
    transition: all .2s;
}

.sidebar-item svg {
    width: 20px;
    height: 20px;
    fill: #0d6efd;
}

.sidebar-wrapper .menu .sidebar-sublink:hover {
    margin-left: .3rem
}

.sidebar-wrapper .menu .sidebar-sublink.active {
    color: #0d6efd;
}

@media screen and (max-width:767px) {
    .sidebar-wrapper {
        left: -270px
    }

    .sidebar-wrapper .sidebar-toggler.x {
        display: block
    }
}
